* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

/* phones */
@media only screen and (max-width: 600px) {

}


/* tablets */

@media only screen and (max-width: 991px) and (min-width: 601px) {

}


/*larger devices */
@media only screen and (min-width: 992px) {

}


